<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title" > تغير الرقم السري </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>

<form [formGroup]="changepasswordForm">
    <div fxFlex fxLayout="column">
        <mat-form-field appearance="fill" >
            <mat-label>الرقم السري الجديد</mat-label>
        
            <input matInput formControlName="newpassword" type="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>تاكيد الرقم السري</mat-label>
            <input matInput formControlName="confirmpassword" type="password" required> 
             <mat-hint *ngIf="validateSubmit() && !(changepasswordForm.controls.confirmpassword.invalid)">
            <span>الرقم السري & تاكيد الرقم غير متشابهين.</span>
        </mat-hint>
        </mat-form-field>
      
    </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handlechangepassword()">تحديث</button>
    <button mat-raised-button color="primary" mat-dialog-close>اغلاق</button>
</mat-dialog-actions>
