<body dir="rtl">
    <mat-card>
        <b><span>لوحه التحكم</span></b>
    </mat-card>
    <br>
    <div class="row" dir="rtl">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title"> اجمالي المواد</h2>
                    <h1 class="title">2</h1>
                    <p><button class="button" routerLink="/Category">عرض المواد</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title"> اجمالي الكورسات</h2>
                    <h1 class="title">2</h1>
                    <p><button class="button" [routerLink]="['/Product']">عرض الكورسات</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title"> اجمالي الفواتير</h2>
                    <h1 class="title">2</h1>
                    <p><button class="button" [routerLink]="['/Bill']">عرض الفواتير</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title"> اجمالي الامتحانات</h2>
                    <h1 class="title">2</h1>
                    <p><button class="button" [routerLink]="['/Bill']">عرض الامتحانات</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title"> اجمالي الطلاب</h2>
                    <h1 class="title">2</h1>
                    <p><button class="button" [routerLink]="['/Bill']">عرض الطلاب</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
