<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout='row'>
        <span class="titel">{{dialogData.action}} كورس</span>
    </mat-toolbar-row>

</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="productForm" (keyup)="genretQrCode(productForm.value)">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>الاسم</mat-label>
                    <input matInput formControlName="title" required [(ngModel)]="qrcode">

                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>السعر</mat-label>
                    <input matInput formControlName="price" required>

                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>الماده</mat-label>
                    
                    <mat-select formControlName="categoryId" >
                        <mat-option *ngFor="let item of category" [value]="item">{{item}}</mat-option>
                    </mat-select>
               

                </mat-form-field>
                
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>الوصف</mat-label>
                    <input matInput formControlName="description" required>

                </mat-form-field>
            </div>

        </div>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit"
    (click)="handleSubmit()"
    [disabled]="!(productForm.valid)">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>اغلاق</button>
</mat-dialog-actions>

