// .div{
//     height: 600px !important;
// }
mat-card{
    padding: 20px;

}
.full{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lfet{
    width: 70%;
}
.rite{
    width: 20% !important;
}
.rite video{
    width: 90%;
    margin: auto;
}