<section class="div">
    <mat-card>
        <b><span>كورساتي</span></b>
       
    </mat-card>
    <hr>
   
</section>
<section>
    <div class="full">
        <div class="lfet">
           <h1>gfdhj</h1>
            
        </div>
        <div class="rite">
            <div><video src="../../../assets/video/MyApp.mp4" controls></video></div>
            <div><video src="../../../assets/video/MyApp.mp4" controls></video></div>
            <div><video src="../../../assets/video/MyApp.mp4" controls></video></div>
        </div>
    </div>
</section>